/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 header{

font-family:  'Courgette', cursive;

color: aliceblue;

 }

.this-card > a {
font-size: 50px;
}

span{

font-family: 'Courgette', cursive;

}
a.color{
    color: aliceblue;
    font-size: 35px;
}
a.color1{
    color:black;
    font-size: 35px;
}

.size{

    
    height: 270px;


}

.align{

position: relative;
left: 500px;
bottom: 98px;
}
.align1{

position: relative;
left: 508px;
bottom: 92px;


}

