

<div class="activities row">
<% @activities.each do |activity|%>
<div class="col s6">
<div class="card brown lighten-4">
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
       <a class="color1", href="<%=activity_path(activity)%>"><%= activity.type_of %></a>
      </span>
    </div>
  </div>
 </div>
<% end %>
</div>
