<body class="bImage">
    

<h4 class="font"> 
Description:<br>
<p>
<%= @activity.description%>
</p>
</h4>

<h4 class="font"> 
Audience: <br>
<p>
<%= @activity.age_rating%>
</p>

</h4>

<h4 class="font"> 
Gender:<br>
<p>
<%= @activity.gender%>
</p>
</h4>
</body>