<h2 class="Style1"> 
<%= @activity.type_of%> :
</h2>

<h4 class="Style"> 
Description:<br>
<%= @activity.description%>
</h4>

<h4 class="Style"> 
Audience: <br>
<%= @activity.age_rating%>
</h4>

<h4 class="Style"> 
Gender:<br>
<%= @activity.gender%>
</h4>
